<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</head>
<body>
    <div>
        모든 html 코드가 갖고 있어야 할 코드들..
    </div>

    {% block content %}
        
    {% endblock %}


    <div>
        모든 html 코드가 갖고 있어야 할 코드들..
    </div>

    
</body>
</html>