{% extends "base.html"%}

{% block content %}
<form method="post">
    {{form.csrf_token}}
    
    
    {% include "form_errors.html" %}

    <div class="mb-3">
      <label for="username" class="form-label">사용자이름</label>
      <input class="form-control" id="username" name="username" value="{{form.username.data or ''}}">      
      <button id="checkusername" type="button">사용자중복검사</button>
      <p id="checkusernameresult"></p>
    </div>

  

    <div class="mb-3">
      <label for="password1" class="form-label">비밀번호</label>
      <input type="password" class="form-control" id="password1" name="password1">
    </div>

    <div class="mb-3">
        <label for="password2" class="form-label">비밀번호(확인)</label>
        <input type="password" class="form-control" id="password2" name="password2">
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">이메일</label>
        <input type="email" class="form-control" id="email" name="email" 
                                                value="{{form.email.data or ''}}">
    </div>


    <button type="submit" class="btn btn-primary">가입</button>
  </form>

{% endblock %}

{% block script%}
<script>
$(document).ready(function(){
  $("#checkusername").click(function(){
        let username = $("#username").val();

        if(username == ""){
          $("#username").focus();
        }
        
        $.ajax({
            url: "/auth/checkusername/"+username,
            type: "GET",
            dataType: "text",
            success: function(result){
              if(result == "1"){
                $("#checkusernameresult").text("사용 가능");
              }else if(result == "-1"){
                $("#checkusernameresult").text("사용 불가");
                $("#username").focus();
              }
                
            }
        });
    });
});
</script>

{% endblock %}