{% extends 'base.html' %}

{% block content %}

<h4>질문 등록 화면</h4>

<form method="post" class="my-4">
    {{form.csrf_token}}

    {% include "form_errors.html" %}

    <input type="hidden"  name="user_id" value="{{g.user.id}}">

    <div class="mb-3">
      <label for="subject" class="form-label">제목</label>
      <input class="form-control" id="subject" name="subject" value="{{form.subject.data or ''}}">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">내용</label>
      <textarea class="form-control" name="content" id="content" rows="10">{{form.content.data or ''}}</textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">등록</button>
  </form>


{% endblock %}